
*{
    margin: 0;
    padding: 0;

}
body {
    padding: 10%;
    align-items: center;
    background-image: url('https://scontent.fqsc1-1.fna.fbcdn.net/v/t1.0-9/94575654_2867543993361359_4435595808150126592_o.jpg?_nc_cat=111&ccb=2&_nc_sid=174925&_nc_ohc=yYnVnY9MZx0AX8VYsO6&_nc_ht=scontent.fqsc1-1.fna&oh=0c2926a9255fa7bc8fd80d6526559486&oe=5FDC9B26');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
}
